body{
    width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.img img{
    position: fixed;
    width: 100%;
}
.main_menu{
    width: 64vh;
    border-radius: 20px;
    height: 41vh;
    padding: 12px 20px;
    justify-content: space-between;
    border: inset;
    position: absolute;
    display: flex;
    top: 15vh;
    flex-direction: row;
    align-items: center;
    right: 35%;
}
.main_info{
    position: relative;
    top: 96px;
}
.main_bus input{
    width: 30vh;
    height: 5vh;
    border-radius: 15px;
}

.locate{
    width: 74%;
    display: flex;
    height: 59vh;
    flex-direction: column;
}
.locate h1{
    font-size: 56px;
    bottom: 13px;
    color: white;
}
.des{
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.temp{
    position: relative;
    bottom: 9px;
    font-size: 65px;
    display: flex;
    flex-direction: column;
    color: white;
}